# https://taskfile.dev

version: '3'

vars:
  GREETING: Hello, World!

tasks:

  install_brew:
    run: once
    cmds:
      - /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
    status:
      - sh common/installation_checker.sh brew

  default:
    deps:
      - task: brew_app
        vars: {APP_BREW_NAME: "jq"}
      - task: brew_app
        vars: {APP_BREW_NAME: "tree"}
      - task: brew_app
        vars: {APP_BREW_NAME: "httpie"}
      - task: brew_app
        vars: {APP_BREW_NAME: "grammarly-desktop"}
      - task: brew_app
        vars: {APP_BREW_NAME: "iterm2"}
      - task: brew_app
        vars: {APP_BREW_NAME: "intellij-idea"}
      - task: brew_app
        vars: {APP_BREW_NAME: "zsh-syntax-highlighting"}
      - task: brew_app
        vars: {APP_BREW_NAME: "neovim"}
      - task: brew_app
        vars: {APP_BREW_NAME: "git"}
      - task: brew_app
        vars: {APP_BREW_NAME: "git-delta"}
      - task: brew_app
        vars: {APP_BREW_NAME: "tldr"}
      - task: brew_app
        vars: {APP_BREW_NAME: "awscli"}
      - task: install_tf_with_tfenv
      - task: install_oh_my_zsh

  install_tf_with_tfenv:
    cmds:
      - tfenv install
    deps:
      - task: brew_app
        vars: {APP_BREW_NAME: "tfenv"}

  install_oh_my_zsh:
    cmds:
      - ZSH= sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
    deps:
      - task: brew_app
        vars: {APP_BREW_NAME: "zsh"}
    status:
      - test -d ~/.oh-my-zsh

  brew_app:
    label: 'brew_{{.APP_BREW_NAME}}'
    deps:
      - task: install_brew
    cmds:
      - brew install {{.APP_BREW_NAME}}

