# https://taskfile.dev

version: '3'

vars:
  GREETING: Hello, World!

tasks:

  install_brew:
    run: once
    cmds:
      - /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
    silent: true
    status:
      - "which brew"

  default:
    deps:
      - task: brew_app
        vars: {APP_BREW_NAME: "jq"}
      - task: brew_app
        vars: {APP_BREW_NAME: "tree"}
      - task: brew_app
        vars: {APP_BREW_NAME: "httpie"}
      - task: brew_app
        vars: {APP_BREW_NAME: "grammarly-desktop"}
      - task: brew_app
        vars: {APP_BREW_NAME: "iterm2"}
      - task: brew_app
        vars: {APP_BREW_NAME: "intellij-idea"}
      - task: brew_app
        vars: {APP_BREW_NAME: "zsh-syntax-highlighting"}

  brew_app:
    label: 'brew_{{.APP_BREW_NAME}}'
    deps:
      - task: install_brew
    cmds:
      - brew install {{.APP_BREW_NAME}}

